@font-face {
    font-family: 'Italic';
    src: url('../font/Start.ttf') format('truetype');
}

:root{
    --white: rgb(255, 255, 255);
    --rose: rgb(243, 179, 179);
    --blue: rgb(28, 64, 105);
    --black: #000;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--black);
}

.section h1, .section p,  .section2 h1, .section2 p{
    text-align: center;
  }

header {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: var(--white);
    z-index: 100;
}

.logo{
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    font-size: 2.4em;
    font-family: 'Italic';
    margin: 18px;
}


.menuPrincipal{
    float: right;
    padding: 25px;
}

.menuPrincipal li{
    display: inline-block;
}

.menuPrincipal a{
    text-decoration: none;
    color: var(--black);
    font-size: 1.16em;
    padding: 15px;
}

.menuPrincipal a:hover{
    background-color: var(--blue);
    color: var(--white);
    border-radius: 10px;
}

.menuBotoes{
    float: right;
    color: var(--white);
    border-radius: 7px;
    height: 20px;
    padding: 8px 10px;
    margin: 20px 10px;
}

.section{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fotoPerfil{
    margin-top: 65px;
    margin-bottom: 7px;
    max-width: 345px;
    border-radius: 25%;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 40px;
    color: var(--white);

}

p{
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: 28px;
    color: var(--rose);
}


.section2{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: var(--rose);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section2 h1{
    color: var(--blue);
    font-size: 2em;
    border-bottom: 4px var(--blue) solid;
    padding-bottom: 4px;
    margin-top: 60px;
    margin-bottom: 40px;
}

#allProjects{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    min-width: 300px;
    max-width: 50%;
    border: 2px var(--blue) solid;
    background-color: var(--blue);
    margin: 10px 20px 10px;
  }

.julyboo{
    text-align: center;
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

.section li a{
    margin-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    color: var(--rose);
}


#contact li a {
    color: var(--white);
    display:inline-block;
    text-decoration: none;
    width: 140px;
    text-align: center;
    font-size: 1.1em;
}
  
#contact li a:hover {
    transform: translateY(-5px);
    transition: transform 0.5s;
}

  

footer p{
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color: var(--rose);
    color: var(--black);
    font-size: 25px;
    margin-top: -60px;
}

@media(min-width: 679px){
    .menuBotoes{
        display: none;  
    }
}

@media screen and (max-width: 680px){
    header {
        height: 60px;
    }

    .limiteHeader {
        flex-direction: column;
        padding: 5px 5px 15px;
    }

    .logo {
        position: absolute;
        height: 30px;
        width: 100%;
        z-index: 2;
        background-color: var(--white);
    }

    .menuPrincipal {
        width: 100%;
        height: 30px;
        margin-left: -15px;
        padding-top: 15px;
        background-color: var(--white);
        position: absolute;
        z-index: 1;
        top: 0;
        transition: top 0.4s;
    }

    .menuPrincipal ul {
        margin: 0 auto;
        width: 300px;
    }
    

    .menuPrincipal ul li a {
        height: 50px;
        line-height: 50px;
    }

    .menuBotoes {
        display: block;
    }

    #menuAbrir {
        position: absolute;
        line-height: 23.8px; 
        z-index: 3;
        right: 12px;
        width: 24px;;
        height: 25px;
        top: 25px;
        margin-right: 3px;
        margin-top: -6px;
        padding: 6px;
        font-size: 1.5em;
        cursor: pointer;
        color: var(--white);
        background-color: var(--black);
        border: solid 1px var(--black);
        border-radius: 7px;
    }

    #menuAbrir:hover {
        background-color: #213146;
    }

    #menuFechar {
        position: absolute;
        line-height: 23.8px; 
        z-index: 2;
        right: 12px;
        width: 24px;;
        height: 25px;
        top: 25px;
        margin-right: 3px;
        margin-top: -6px;
        padding: 6px;
        font-size: 1.5em;
        cursor: pointer;
        color: var(--white);
        background-color: var(--black);
        border: solid 1px var(--black);
        border-radius: 7px;
    }

    #menuFechar:hover {
        background-color: #213146;
    }

    footer {
        margin-top: 10px;
    }
}
